<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>

  </head>
  <body onload='number_pages'>
    <div id="header">
      <div class="logo"><img src="https://booking.worldmusic.school/assets/invoice_logo-6a70afdde3f77fad2b97e2391f1a1fd2bba81dc07315ea482e0534797c8ac000.png"></div>
      <div class="invoice_top">
        <p><%= "INVOICE: ##{booking.invoice_id}" %></p>
        <p><%= "DATE: #{Time.now.utc.strftime("%d.%m.%Y")}" %></p>
      </div>
    </div>
    <div class="metadata">
      <div class="left half">
        World Music School Helsinki
        <br />
        Viipurinkatu 8B LH7 
        <br />
        00510 Helsinki, Finland
        <br />
        Y-tunnus: 2808173-8
      </div>
      <div class="right half">
        <strong>INVOICE TO:</strong>
        <br />
        <%= booking.student.name %>
        <% if booking.student.address %>
          <br />
          <%= booking.student.address %>

          <br />

        <% end %>
      </div>
    </div>
    <div class="table">
      <table>
        <thead>
          <th>Item name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </thead>
        <tbody>
          <tr>
            <td>
              Class by <%= booking.teacher.name %>
              at 
              <%= booking.requested_start.strftime("%d %B %Y %H:%M") %>
            </td>
            <td class="text-center">
              <%= number_to_currency(price, unit: raw("&euro;"), format: "%n %u") %>
            </td>
            <td class="text-center">1</td>
            <td class="text-center"><%= number_to_currency(price, unit: raw("&euro;"), format: "%n %u") %></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="metadata">
      <div class="row">
        <div class="left third">
          <strong>PAYMENT TO:</strong>
        </div>
        <div class="left third">
          World Music School Helsinki
        </div>
      </div>
      <div class="row">
        <div class="left third">
          <strong>ACCOUNT IBAN #:</strong>
        </div>
        <div class="left third">
          <%= ENV['iban'] %>
        </div>
      </div>
      <div class="row">
        <div class="left third">
          <strong>BIC/SWIFT:</strong>
        </div>
        <div class="left third">
          <%= ENV['swift'] %>
        </div>
      </div>
      <div class="row">
        <div class="left third">
          <strong>REFERENCE/VIITENUMERO:</strong>
        </div>
        <div class="left third">
          <div class="value">
            <%= booking.viitenumero.paper_format %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="left third">
          <strong>DATE DUE:</strong>
        </div>
        <div class="left third">
          <%= booking.invoice_due.strftime("%d.%m.%Y") %>
        </div>
      </div>

    </div>
  </body>
</html>
