- if @user.has_applied?
  - if @user.applied_as_teacher == true
    - if @user.approved_teacher == true
      %p You have been approved as a teacher.
      - if @user.registrations.empty?
        %p You do not yet have any class bookings.
      - else
        %h3 Bookings for you
        %table.bookings
          %thead
            %tr
              %th #
              %th Teacher
              %th Requested info
              %th Accepted?
              %th Fee paid?
          %tbody
            - @user.registrations.each do |booking|
              %tr
                %td= booking.id.to_s
                %td
                  - if booking.teacher
                    = booking.teacher.name
                  - else
                    = booking.legacy_teacher
                %td
                  = booking.custom_location == 'Enter a place' || booking.custom_location.blank? ? booking.try(:location) : booking.custom_location
                  - unless booking.requested_start.blank?
                    = " / "
                    = booking.requested_start.strftime("%d %B %Y %H:%M")
                  
                %td
                  = booking.teacher_approved == true ? 'yes' : 'no'
                  - if booking.teacher_approved != true
                    = link_to 'Accept', accept_booking_path(booking), class: [:button]
                %td= booking.fee_paid == true ? 'yes' : 'no'
      - if @user.availability.empty?
        %p You have not defined any available teaching hours.
      = link_to 'Set your available teaching hours', regularavailabilities_path, class: [:button]
    - else
      %p Your application to be a teacher has been received and is being reviewed. You will receive notification upon approval.
  - if @user.applied_as_student == true
    - if @user.approved_student == true

      - if @user.bookings.empty?
        %p You have not yet booked any classes.
        = link_to 'Book a class!', new_booking_path, class: [:button]
        
      - else
        %h3
          Your bookings
          - if @user.approved_teacher == true
            (as a student)
        = link_to 'Book a class!', new_booking_path, class: [:button]
        %table.bookings
          %thead
            %tr
              %th #
              %th Teacher
              %th Requested info
              %th Teacher accepted??
              %th Fee paid?
          %tbody
            - @user.bookings.each do |booking|
              %tr
                %td= booking.id.to_s
                %td
                  - if booking.teacher
                    = booking.teacher.name
                  - else
                    = booking.legacy_teacher
                  - if booking.in_future?
                    %br/
                    = link_to 'Cancel booking', booking, method: :delete, class: [:button, :alert, :tiny]
                %td
                  = booking.custom_location == 'Enter a place' || booking.custom_location.blank? ? booking.try(:location) : booking.custom_location
                  - unless booking.requested_start.blank?
                    = " / "
                    = booking.requested_start.strftime("%d %B %Y %H:%M")
                  - if booking.teacher
                    - if booking.requested_start.blank?
                      Timeslot not chosen.
                      %br/
                      = link_to 'Select time', choose_timeslot_booking_path(booking),class: [:button, :tiny]
                %td= booking.teacher_approved == true ? 'yes' : 'no'
                %td{class: booking.fee_paid == true ? false : :unpaid}= booking.fee_paid == true ? 'yes' : 'no'
        
    - else
      %p Your application to be a student has been received and is being reviewed. You will receive notification upon approval.
  
- else
  %p= t :not_applied_yet
  
  = link_to t(:apply_as_teacher), user_register_as_teacher_path(current_user), class: [:button]
  
  -#= link_to t(:apply_as_student), user_register_as_student_path(current_user), class: [:button]