%p
  Dear
  = @student.name + ","

 

%p 
  = @teacher.name 
  has accepted your booking and your class is confirmed upon payment of the fee.

%p
  Booking details:

%p
  %strong Location:
  = @booking.location
  - if @booking.location == 'Viipurinkatu'
    (Viipurinkatu 8, Helsinki)

%p
  %strong Time:
  = @booking.requested_start.strftime("%d %B %Y %H:%M")
  = " - "
  = (@booking.requested_start + 1.hour).strftime("%H:%M")

- unless @booking.notes.nil?
  %p
    %strong Notes:
    = @booking.notes

%p
  %strong Fee:
  - if @teacher.hourly_rate.nil?
    = number_to_currency(50, unit: raw("&euro;"), format: "%n %u")
  - else
    = number_to_currency(@teacher.hourly_rate, unit: raw("&euro;"), format: "%n %u")

%p 
  You can  
  = link_to 'access your account here', 'http://bookings.worldmusic.school'
  and to see your invoice and pay either by bank transfer or credit card.
 

%p Kind regards,

%p The World Music School Helsinki