<div class="sign_in_page">
  <div class="row">
    <div class="small-12 columns small-centered text-center">
      <%= image_tag 'wmslogo.png', width: 204 %>
    </div>
  </div>

  <div class="row forms  ">
    <div class="small-12 medium-10 large-9 columns small-centered text-center">
      <div class="row">
        <div class="small-10 medium-5 columns">

          <h3>Sign in to your account</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, value: 'you@email.com' %>
              <span class="fa fa-user errspan"></span>
            </div>

            <div class="field">
          
              <%= f.text_field :password, autocomplete: "off" , value: 'password' %>
              <span class="fa fa-lock errspan"></span>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>

                <%= link_to 'forgot password?', '/users/password/new' %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Sign in" %>
            </div>
          </div>
        <% end %>
      <div class="medium-2 hide-for-small-only columns or">
        <span>or</span>
      </div>
      <div class="small-10 medium-5 columns text-center">
        <p><%= link_to "Don't have an account? Sign up!", new_registration_path(resource_name) %></p>
        <div class="sign_in_button">
          <%= link_to '/users/auth/facebook', class: [:button, :facebook] do %>
            <%= fa_icon 'facebook' %>
              <span> Sign in with Facebook</span>
          <% end %>
        </div>
        <div class="sign_in_button">
          <%= link_to '/users/auth/twitter', class: [:button, :twitter] do %>
            <%= fa_icon 'twitter' %>
              <span> Sign in with Twitter</span>
          <% end %>
        </div>
        <div class="sign_in_button">
          <%= link_to '/users/auth/google_oauth2', class: [:button, :google] do %>
            <%= fa_icon 'google' %>
              <span> Sign in with Google+</span>
          <% end %>
        </div>


      </div>
    </div>
  </div>

    </div>
  </div>

<%= content_for :jquery do %>
  $('form input#user_email').clearField();
  $('form input#user_password').clearField();
  $('form input#user_password').on('focus', function() {
    $(this).attr('type', 'password');
  });

<% end %>
