
- unless @admins.empty?

  .row.expanded
    .small-12.medium-9.columns
      %h1 Administrators

  .row.expanded
    .small-12.columns
      %table
        %thead
          %tr
            %th Who
            %th Type
            %th ID cards
            %th Status
            %th
        %tbody
          - @admins.each do |user|
            %tr
              %td
                = "User ##{user.id.to_s}: "
                = link_to user.username.blank? ? 'no username given' : user.username, user
                %br/
                = user.name
                %br/
                = user.email

              %td
                = user.applied_as_teacher == true ? 'teacher' : ''
                %br/
                = user.applied_as_student == true ? 'student' : ''
              %td
                - if user.nfcs.empty?
                  None
                  %br/
                  = link_to 'Add an ID card', new_admin_user_nfc_path(user), class: [:button, :tiny]
                - else
                  = pluralize(user.nfcs.size, 'card')
                  %br/
                  = link_to 'Manage cards', admin_user_nfcs_path(user), class: [:button, :tiny]
              %td
                - if user.applied_as_teacher == true
                  = user.approved_teacher == true ? 'approved' : 'not approved'
                %br/
                - if user.applied_as_student == true
                  = user.approved_student == true ? 'approved' : 'not approved'
              %td
                - if can? :edit, user
                  = link_to 'Edit', edit_admin_user_path(user), class: [:button, :small]

- unless @users.empty?
  .row.expanded
    .small-12.medium-9.columns
      %h1 Users

  .row.expanded
    .small-12.columns
      %table
        %thead
          %tr
            %th Who
            %th Type
            %th ID cards
            %th Status
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td
                = "User ##{user.id.to_s}: "
                = link_to user.username.blank? ? 'no username given' : user.username, user
                %br/
                = user.name
                %br/
                = user.email
              %td
                = user.applied_as_teacher == true ? 'teacher' : ''
                %br/
                = user.applied_as_student == true ? 'student' : ''
              %td
                - if user.approved_teacher == true
                  - if user.nfcs.empty?
                    None
                    %br/
                    = link_to 'Add an ID card', new_admin_user_nfc_path(user), class: [:button, :tiny]
                  - else
                    = pluralize(user.nfcs.size, 'card')
                    %br/
                    = link_to 'Manage cards', admin_user_nfcs_path(user), class: [:button, :tiny]
                - else
                  %small
                    Only approved teachers are eligible to receive ID cards.
              %td
                - if user.applied_as_teacher == true
                  = user.approved_teacher == true ? 'approved' : 'not approved'
                %br/
                - if user.applied_as_student == true
                  = user.approved_student == true ? 'approved' : 'not approved'
              %td
                - if can? :edit, user
                  = link_to 'Edit', edit_admin_user_path(user), class: [:button, :small]
                - if can? :delete, user
                  = link_to 'Delete', [:admin, user], method: :delete, data: {confirm: 'Are you sure? This will delete the user and all associated bookings and records.'}, class: [:button, :tiny, :alert]