!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "World Music School"

    = stylesheet_link_tag "application"

    = stylesheet_link_tag "wordpress"
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = yield :head
    
    = javascript_include_tag "admin", defer: :defer
    = csrf_meta_tag

  %body
    - if user_signed_in?
      .title-bar{:'data-responsive-toggle' => 'responsive_menu', :'data-hide-for' => :medium}
        %button.menu-icon{type: :button, :'data-toggle' => 'responsive-menu'}
        .title-bar-title Menu      
      .top-bar#responsive-menu
        .top-bar-left
          %ul.menu
            %li.menu-text= link_to 'World Music School', '/'
        .top-bar-right
          %ul.dropdown.menu{:'data-dropdown-menu' => ''}
            %li.has-submenu
              = link_to current_user.username, '#'
              %ul.menu.vertical.submenu{:'data-submenu' => ''}
                - if current_user.has_role?(:admin)
                  %li= link_to 'Edit users', '/admin/users'
                  %li= link_to 'All Invoices', admin_invoices_path
                  %li= link_to 'Paid bookings statement', admin_bookings_path
                  %li= link_to 'Legacy teachers', '/admin/legacyteachers'
                %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= raw value
    .container
      = yield
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
